<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/download.png">
        <!--Link per i fogli di stile css-->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            <!--{{>header}} => per il biding di un altro foglio di stile-->
        {{>header}}
        <img class="portrait" src="/img/Foto-Profilo.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>