<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/download.png">
        <!--Link per i fogli di stile css-->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
 <!--{{>header}} => per il biding di un altro foglio di stile-->
        {{>header}}
        <p>{{helpText}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>