<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/download.png">
        <!--Link per i fogli di stile css-->
        <link rel="stylesheet" href="/css/style.css">
       
    </head>
    <body>
        <!--{{>header}} => per il biding di un altro foglio di stile-->
        <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button >Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        </div>
        {{>footer}}

         <!--Link per i file javascript front end-->
        <script src="/js/app.js"></script>
    </body>
</html>